<div class="form-group">
    <a [routerLink]="['/factura']" class="btn btn-info">Volver</a>
</div>
<div class="form-row flex-column">
    <h1>Reporte de Facturas - Total de Resultados: {{numeroComprobantes}}</h1>
    <br>
    <h5>Filtros</h5>
</div>

<hr>
<div class="table">
    <table class="table table-responsive">
       <thead>
            <tr>
                <th></th>
                <th> Número Interno </th>
                <th> Consecutivo </th>
                <th> Clave </th>
                <th> Tipo Documento </th>
                <th> Medio Pago </th>
                <th> Condicion Venta </th>
                <th> Moneda Documento </th>
                <th> Tipo Cambio </th>
                <th> Fecha </th>
                <th> Hora </th>
                <th> Identificacion Cliente </th>
                <th> Cliente </th>
                <th> Razón Social </th>
                <th> Estado Documento </th>
                <th> Subtotal </th>
                <th> Impuestos </th>
                <th> Descuentos </th>
                <th> Servicios Gravados </th>
                <th> Servicios Exentos </th>
                <th> Servicios Exonerados </th>
                <th> Mercancías Gravadas </th>
                <th> Mercancías Exentas </th>
                <th> Mercancías Exoneradas </th>
                <th> Total Gravado </th>
                <th> Total Exento </th>
                <th> Total Exonerado </th>
                <th> Venta </th>
                <th> Venta Neta </th>
                <th> Total Factura </th>
                <th> IVA Devuelto </th>
                <th> Otros Cargos </th>
            </tr>
       </thead>
       <tbody *ngFor="let factura of arrayComprobantes">
            <tr>
                <td>{{factura.id}}</td>
                <td>{{factura.numero_interno}}</td>
                <td>{{factura.consecutivo}}</td>
                <td>{{factura.clavenumerica}}</td>
                <td>{{factura.tipo_factura}}</td>
                <td>{{factura.medio_pago}}</td>
                <td>{{factura.condicion_venta}}</td>
                <td>{{factura.codigomoneda}}</td>
                <td>{{factura.tipocambio}}</td>
                <td>{{factura.fecha}}</td>
                <td>{{factura.hora}}</td>
                <td>{{factura.cedula_cliente}}</td>
                <td>{{factura.cliente_nombre_comercial}}</td>
                <td>{{factura.status_factura}}</td>
                <td>{{factura.subtotal}}</td>
                <td>{{factura.totalimpuesto}}</td>
                <td>{{factura.totaldescuentos}}</td>
                <td>{{factura.totalservgravados}}</td>
                <td>{{factura.totalservexentos}}</td>
                <td>{{factura.totalservexonerado}}</td>
                <td>{{factura.totalmercanciasgravadas}}</td>
                <td>{{factura.totalmercanciasexentas}}</td>
                <td>{{factura.totalmercanciaexonerada}}</td>
                <td>{{factura.totalgravado}}</td>
                <td>{{factura.totalexento}}</td>
                <td>{{factura.totalexonerado}}</td>
                <td>{{factura.totalventa}}</td>
                <td>{{factura.totalventaneta}}</td>
                <td>{{factura.totalIVADevuelto}}</td>
                <td>{{factura.TotalOtrosCargos}}</td>
            </tr>
       </tbody>
    </table> 
</div>