<div class="form-row flex-column">
    <a [routerLink]="['/consulta']" class="btn btn-info">Volver</a>
    <h1>Reporte de Facturas - Total de Resultados: 90</h1>
    <br>
    <h5>Filtros</h5>
</div>

<hr>
<div class="table">
    <table class="table table-responsive">
        <tr>

            <th> Número Interno </th>
            <th> Consecutivo </th>
            <th> Clave </th>
            <th> Tipo Documento </th>
            <th> Medio Pago </th>
            <th> Condicion Venta </th>
            <th> Tipo Documento </th>
            <th> Moneda Documento </th>
            <th> Tipo Cambio </th>
            <th> Fecha </th>
            <th> Hora </th>
            <th> Identificacion Cliente </th>
            <th> Cliente </th>
            <th> Razón Social </th>
            <th> Estado Documento </th>
            <th> Subtotal </th>
            <th> Impuestos </th>
            <th> Descuentos </th>
            <th> Servicios Gravados </th>
            <th> Servicios Exentos </th>
            <th> Servicios Exonerados </th>
            <th> Mercancías Gravadas </th>
            <th> Mercancías Exentas </th>
            <th> Mercancías Exoneradas </th>
            <th> Total Gravado </th>
            <th> Total Exento </th>
            <th> Total Exonerado </th>
            <th> Venta </th>
            <th> Venta Neta </th>
            <th> Total Factura </th>
            <th> IVA Devuelto </th>
            <th> Otros Cargos </th>
        </tr>
    </table>
</div>