<h2>Listado de documentos procesados</h2>
<br>
<div class="container">
    <div class="row">
        <div class="col">

            <div class="form-group col-md-6">
                Documento <select name="" id="" class="form-control">

                            </select> Fecha INicio <input type="text" name="" id="" class="form-control">

            </div>
        </div>

        <div class="col">
            <div class="form-group col-md-6">
                <label>Documento</label>
                <select name="" id="" class="form-control">

                </select>
            </div>
            <div class="form-group col-md-6">
                <label>Fecha</label>
                <input type="text" name="" id="" class="form-control">
            </div>
        </div>
    </div>
</div>

<div class="table-responsive">
    <table class="table">
        <thead>
            <tr>
                <th style="width: 10.344827586207%; background-color: #8ac8b6">
                    uno </th>
                <th style="width: 17.241379310345%; background-color: #64bf64">
                    dos </th>
                <th style="width: 6.8965517241379%; background-color: #13d229">
                    tres </th>
                <th style="width: 24.137931034483%; background-color: #708928">
                    cuatro </th>
                <th style="width: 13.793103448276%; background-color: #678121">
                    cinco </th>
                <th style="width: 27.586206896552%; background-color: #d7ed7a">
                    seis </th>
            </tr>
        </thead>
    </table>
</div>