<h1><i class="fa fa-file-text"></i> Crear Documento</h1>
<hr>
<br>
<div class="container">
    <form action="" method="post">

        <div class="row">

            <div class="col">
                1
            </div>
            <div class="col">
                <div class="col-12 col-md-6">
                    <h4 class="mb-3 d-flex justify-content-between align-items-center">
                        <span class="text-muted">Tu Carrito</span>
                    </h4>
                    <ul class="list-group mb-3">
                        <li class="list-group-item d-flex justify-content-between">
                            <div>
                                <h6 class="my-0">item1</h6>
                                <small class="text-muted">descripción</small>
                            </div>
                            <span class="text-muted">10€</span>
                        </li>
                        <li class="list-group-item d-flex justify-content-between">
                            <div>
                                <h6 class="my-0">item2</h6>
                                <small class="text-muted">descripción</small>
                            </div>
                            <span class="text-muted">20€</span>
                        </li>
                        <li class="list-group-item d-flex justify-content-between">
                            <div>
                                <h6 class="my-0">item3</h6>
                                <small class="text-muted">descripcion</small>
                            </div>
                            <span class="text-muted">3€</span>
                        </li>
                        <li class="list-group-item d-flex justify-content-between bg-light">
                            <div class="text-success">
                                <h6 class="my-0">Codigo de descuento</h6>
                                <small class="text-success">DPS5</small>
                            </div>
                            <span class="text-success">-5€</span>
                        </li>
                        <li class="list-group-item d-flex justify-content-between bg-light">
                            <span>Total (EUR)</span>
                            <strong>28€</strong>
                        </li>
                    </ul>
                    <form action="" class="card p-2">
                        <div class="input-group">
                            <input type="text" class="form-control" placeholder="Cupon">
                            <div class="input-group-append">
                                <button class="btn btn-secondary">Canjear</button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>

        </div>
    </form>
</div>