<h1><i class="fa fa-file-text"></i>Recepción</h1>
<hr>
<br>
<div class="container">
    <h2>Acepta los documentos de los proveedores</h2>

    <div class="alert alert-success" *ngIf="mostrar == true">
        Información procesando. Por Favor espere...
        <div class="spinner-border text-muted"></div>
    </div>

    <div class="row">
        <div class="form-group col-md-5">
            <label>Proveedor</label>
            <select [(ngModel)]="proveedorSeleccionado" name="proveedorSeleccionado" id=""  class="form-control"
                (change)="aplicarFiltroProveedor(proveedorSeleccionado)"
            >
                <option value="">Seleccione</option>
                <option *ngFor="let proveedor of listaProveedores" [value]="proveedor" >{{proveedor}}</option>
            </select>
        </div>

        <div class="form-group col-md-5">
            <label>Fecha</label>
            <input (change)="aplicarFiltroFecha(fechaSeleccionada)" [(ngModel)]="fechaSeleccionada" type="date" name="fechaSeleccionada" id="" class="form-control">
        </div>
    </div>
    
<ng-container *ngIf="tablaPequena == true">
    <div class="table-responsive"  *ngFor="let factura of this.collection.data | paginate: config">
    <table class="table table-striped table-hover">
        <tbody *ngFor="let factura of collection.data | paginate: config">
            <tr > 
               <th>ID</th>
               <td>{{factura.id}}</td>
            </tr>
            <tr>
                <th>Fecha</th>
                <td>{{factura.fecha}}</td>
            </tr>
            <tr>
                <th>Proveedor</th>
                <td style="width: 100px;word-break: break-all">{{factura.proveedor}}</td>
            </tr>
            <tr>
                <th>Clave</th>
                <td style="width: 100px;word-break: break-all">{{factura.clavenumerica}}</td>
            </tr>
            <tr>
                <th>
                    Tipo
                </th>
                <td style="width: 100px;word-break: break-all">{{factura.tipo}}</td>
            </tr>
            <tr>
                <th>
                    Total
                </th>
                <td>{{factura.total}}</td>
            </tr>
            <tr>
                <th>Estado <br>
                    Aceptaciones    
                </th>
                <td> 
                    <div class="col-sm">
                        <select 
                            name="opcionEstadoAceptacion"
                            (change) = "factura.estadoDoc = $event.target.value"
                            class="form-control form-control-sm"
                           
                        >
                            <option value="">↧</option>
                            <option *ngFor="let estado of estadoAceptacion" 
                                    [selected]="estado.isSelected"
                                    [value]="estado.codigo"
                                   
                                  >
                                {{estado.mensaje}}
                            </option>
                        </select>
                        
                    </div>
                </td>
            </tr>
            <tr>
                <th>Condición <br>
                    Impuesto    
                </th>
                <td> 
                    <div class="col-sm">
                        <select 

                            name="opcionCondicionImpuesto"
                            (change) = "factura.condicionDoc = $event.target.value"
                            class="form-control form-control-sm"
                        >
                            <option value="">↧</option>
                            <option *ngFor="let codigo of condicionImpuesto" 
                                    [value]="codigo.codigo" 
                                >
                                {{codigo.descripcion}}
                            </option>
                        </select>
                    </div>
                </td>
            </tr>
            <tr>
                <th>Marcar</th>
                <td>

                    <div class="col-sm">
                        <button (click)="factura.marcado = !factura.marcado; agregarFactura(factura)" class="btn btn-success btn-sm" *ngIf="factura.marcado == false">
                            <i class="fa fa-plus"
                            data-toggle="tooltip" data-placement="top" title="Agregar factura"
                            ></i>
                        </button>
                    
                        <button (click)="factura.marcado = !factura.marcado; agregarFactura(factura)" class="btn btn-danger btn-sm" *ngIf="factura.marcado == true"
                        data-toggle="tooltip" data-placement="top" title="Quitar Factura"
                        >
                            <i class="fa fa-times-circle"></i>
                        </button>

                        <button (click)="visualizarFactura(factura.id)" class="btn btn-primary btn-sm mt-1" data-toggle="modal" data-target="#ModalPreFactura">
                            <i class="fa fa-search"></i>
                        </button>
                    </div>
                
                </td>
            </tr>
        
        </tbody>
    </table>
</div>
<pagination-controls (pageChange)="pageChanged($event)"></pagination-controls> 
</ng-container>

<div class="table-responsive" *ngIf="tablaPequena == false">
        <table class="table table-hover" id="tabla_detalles" >
            <thead>
                <th>ID</th>
                <th>Fecha</th>
                <th>Proveedor</th>
                <th>Clavenumérica</th>
                <th>Tipo <br> Documento</th>
                <th>Total <br> Comprobante</th>
                <th>Estado <br> Aceptación</th>
                <th>Condición <br> Impuesto</th>
                <th>Marcar</th>
            </thead>
            <tbody *ngIf="collection.data.length > 0">
                <tr *ngFor="let factura of collection.data | paginate: config"> 
                    <td>{{factura.id}}</td>
                    <td>{{factura.fecha}}</td>
                    <td>{{factura.proveedor}}</td>
                    <td style="width: 100px;word-break: break-all">{{factura.clavenumerica}}</td>
                    <td>{{factura.tipo}}</td>
                    <td>{{factura.total}}</td>
                    <td> 
                        <div class="col-sm">
                            <select 
                                id="opcionEstadoAceptacion"
                                name="opcionEstadoAceptacion"
                                (change) = "factura.estadoDoc = $event.target.value"  
                                style="width:100px"
                                
                            >
                                <option value="">Seleccione</option>
                                <option *ngFor="let estado of estadoAceptacion; 
                                        let index = index"
                                        [value]="estado.codigo"
                                        [selected]="index == 0"
                                    >
                                    {{estado.mensaje}}
                                </option>
                            </select>
                        </div>
                    </td>
                    <td> 
                        <div class="col-sm">
                            <select 
                                name="opcionCondicionImpuesto"
                                (change) = "factura.condicionDoc = $event.target.value"
                                style="width:175px"
                            >
                                <option value="">Seleccione</option>
                                <option *ngFor="let codigo of condicionImpuesto;
                                        let index = index" 
                                        [value]="codigo.codigo" 
                                        [selected]="index == 0"
                                    >
                                    {{codigo.descripcion}}
                                </option>
                            </select>
                        </div>
                    </td>
                    <td>
                        <button (click)="factura.marcado = !factura.marcado; agregarFactura(factura)" class="btn btn-success btn-sm" *ngIf="factura.marcado == false" data-toggle="tooltip" data-placement="top" title="Agregar factura">
                            <i class="fa fa-plus"></i>
                        </button>

                        <button (click)="factura.marcado = !factura.marcado; agregarFactura(factura)" class="btn btn-danger btn-sm" *ngIf="factura.marcado == true" data-toggle="tooltip" data-placement="top" title="Quitar factura">
                            <i class="fa fa-times-circle"></i>
                        </button>

                        <button (click)="visualizarFactura(factura.id)" class="btn btn-primary btn-sm mt-1" data-toggle="modal" data-target="#ModalPreFactura">
                            <i class="fa fa-search"></i>
                        </button>
                    </td>
                </tr>
            </tbody>
        </table>
        <pagination-controls (pageChange)="pageChanged($event)" *ngIf="collection.data.length > 0"></pagination-controls>
    </div>
    <hr>
    <div class="div col-12" >
        <button class="btn btn-success" id="btnProcesar" [disabled]="bloqueoProcesar == true">
            Procesar Facturas
        </button>
    </div>
</div>


<div class="modal fade" id="ModalPreFactura" tabindex="-1" role="dialog" aria-labelledby="ModalPreFactura" aria-hidden="true">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">{{objFacturaResultado.tipoFactura}}</h5>
            </div>
            <div class="modal-body">


                <p style="padding: 0%;">

                    <b>Factura: </b>{{this.objFacturaResultado.id}}
                    <p><b>clave:</b> {{this.objFacturaResultado.clave}}</p>
                    <p><b>Consecutivo:</b> {{this.objFacturaResultado.consecutivo}}</p>
                    <p><b>Fecha:</b> {{this.objFacturaResultado.fechaFactura | date: 'yyyy-MM-dd'}}
                        <p><b>Tipo Cambio:</b> {{this.objFacturaResultado.tipocambio}}
                        </p>

                        <p><b>Proveedor: </b> {{objFacturaResultado.nombre}}

                        <div class="table">

                            <!-- tu tabla aquí siempre se verá al 100% en todas las resolcuiones-->
                            <table class="table table-responsive">
                                <thead>
                                    <tr>
                                        <th>#</th>
                                        <th>Descripcion</th>
                                        <th>Cantidad</th>
                                        <th>Descuento</th>
                                        <th>Impuesto</th>
                                        <th>Subtotal</th>
                                        <th>Total</th>
                                    </tr>
                                </thead>
                                <tbody *ngFor="let linea of arrayOrdenes" id="tbody_lineas">
                                    <tr>
                                        <td>
                                            {{linea.numerolineadetalle}}
                                        </td>
                                        <td>
                                            {{linea.descripcioDetalle}}
                                        </td>
                                        <td>
                                        {{linea.cantidad}}
                                        <td>
                                            {{linea.montodescuento}}
                                        </td>
                                        <td>
                                            {{linea.monto}}
                                        </td>
                                        <td>
                                            {{linea.subtotal}}
                                        </td>
                                        <td>
                                            {{linea.montoitotallinea}}
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>

                        <div class="form-group">
                            <label for="descripcion">Medio Pago</label>
                            <input 
                                [(ngModel)]="objFacturaResultado.medioPago" 
                                type="text" 
                                name="medioPago" 
                                id="" 
                                class="form-control"
                                readonly
                            >
                        </div>

                        <div class="form-group">
                            <label for="descripcion">Condicion Venta</label>
                            <input 
                                [(ngModel)]="objFacturaResultado.condicionVenta" 
                                type="text" 
                                name="condicionVenta" 
                                id="" 
                                class="form-control"
                                readonly
                            >
                        </div>

                        <p style="padding: 0%;">
                            <h4>Totales del comprobante</h4>
                            <h6>Subtotal: {{this.objFacturaResultado.subtotal}}</h6>
                            <h6>Servicios Gravados: {{this.objFacturaResultado.totalservgravados}}</h6>
                            <h6>Servicios Exentos: {{this.objFacturaResultado.totalservexentos}}</h6>
                            <h6>Mercancías Gravadas: {{this.objFacturaResultado.totalmercanciasgravadas}}</h6>
                            <h6>Mercancías Exentas: {{this.objFacturaResultado.totalmercanciasexentas}}</h6>
                            <h6>Total Gravado: {{this.objFacturaResultado.totalgravado}}</h6>
                            <h6>Total Exento: {{this.objFacturaResultado.totalexento}}</h6>
                            <h6>Total Exonerado: {{this.objFacturaResultado.totalexonerado}}</h6>
                            <h6>Subtotal: {{this.objFacturaResultado.subtotal}}</h6>
                            <h6>Descuentos: {{this.objFacturaResultado.descuentoTotal}}</h6>
                            <h6>Impuestos: {{this.objFacturaResultado.totalimpuesto}}</h6>
                            <h6>Otros Cargos: {{this.objFacturaResultado.totalotroscargos}}</h6>
                            <hr>
                            <p><b>Total Factura:</b> {{this.objFacturaResultado.totalcomprobante}}
                            </p>

            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Aceptar</button>
            </div>
        </div>
    </div>
</div>