<h1><i class="fa fa-file-text"></i> Reporte de Encuesta Requerimiento por Requerimiento</h1>
<hr>
<div class="container">
    <div class="row">
        <div class="col-md-4">
            <div class="form-group">
                <label for="">Pregunta</label>
                <select [(ngModel)]="objReporte.idpregunta" name="idpregunta" id="usuario" class="form-control" id="pregunta">
                    <option value="">Seleccione</option>
                    <option *ngFor="let pregunta of listaPreguntas" [value]="pregunta.id">{{pregunta.pregunta}}</option>
                </select>
            </div>
        </div>
        <div class="col-md-4">
            <div class="form-group">
                <label for="">Fecha Inicio</label>
                <input [(ngModel)]="objReporte.fechaInicio" type="date" name="fechaInicio" id="fechaInicio" class="form-control">
            </div>
        </div>
        <div class="col-md-4">
            <div class="form-group">
                <label for="">Fecha Fin</label>
                <input [(ngModel)]="objReporte.fechaFin" type="date" name="fechaFin" id="fechaFin" class="form-control">
            </div>
        </div>
    </div>
</div>
<hr>
<br>
<div class="row" style="align-items: center;">
    <div class="col-md-6">
        <button type="button" class="btn btn-success mr-1" id="reporteExcel"><i class="fa fa-file-excel-o"></i>Excel</button>
        <button type="button" class="btn btn-primary mr-1" id="reporteWeb"><i class="fa fa-search-plus"></i>Web</button>
    </div>
</div>