<h1>Impuesto</h1>
<div class="col-12">
    <form method="POST">

        <div class="form-group col-md-6">
            <label for="descripcion">Descripción</label>
            <input [(ngModel)]="objImpuesto.descripcion" type="text" name="descripcion" id="descripcion" class="form-control">
        </div>
        <div class="form-group col-md-6">
            <label for="descripcion">Porcentaje</label>
            <input [(ngModel)]="objImpuesto.porcentaje" type="number" name="porcentaje" id="porcentaje" class="form-control">
        </div>
        <div class="form-group col-md-6">
            <label for="descripcion">Código</label>
            <input [(ngModel)]="objImpuesto.codigo" type="text" name="codigo" id="codigo" class="form-control">
        </div>
        <button type="submit" class="btn btn-primary" (click)="nuevoImpuesto($event,objImpuesto)">Guardar</button>
    </form>
</div>