<h1><i class="fa fa-file-text"></i>Reporte de Compras</h1>
<hr>
<div class="row" style="display: flex; align-items: stretch;">
    <div class="col-md-3">
        <div class="form-group">
            <div class="form-group">
                <label for="numConsecutivo" class="col-form-label">Número Consecutivo</label>
                <input [(ngModel)]="objBusqueda.consecutivo" type="text" name="consecutivo" id="consecutivo" class="form-control">
            </div>
        </div>
    </div>
    <div class="col-md-3">
        <div class="form-group">
            <div class="form-group">
                <label for="fechaInicio" class="col-form-label">Fecha Inicio:</label>
                <input [(ngModel)]="objBusqueda.fechaInicio" type="date" name="fechaInicio" id="fechaInicio" class="form-control">
            </div>
            <div class="form-group">
                <label for="fechaFin" class="col-form-label">Fecha Fin:</label>
                <input [(ngModel)]="objBusqueda.fechaFin" type="date" name="fechaFin" id="fechaFin" class="form-control">
            </div>
        </div>
    </div>
    <div class="col-md-4">
            <div class="form-group">
                <label for="numDocumento" class="col-form-label">Número Documento:</label>
                <input [(ngModel)]="objBusqueda.clave" type="text" name="clave" id="clave" class="form-control" >
            </div>           
        </div>
</div>
<hr>
<br>
<div class="row" style="align-items: center;">
    <div class="col-md-6">
        <button type="button" class="btn btn-success mr-1" id="reporteExcel"><i class="fa fa-file-excel-o"></i>Excel</button>
        <button type="button" class="btn btn-primary mr-1" id="reporteWeb"><i class="fa fa-search-plus"></i>Web</button>
    </div>
</div>


