<h1><i class="fa fa-file-text"></i>Listado de documentos procesados</h1>
<hr>
<br>
<div class="container">
    <div class="row">
        <div class="col-sm-12 col-md-6 col-lg-6">
            <div class="form-group">
                <p>
                    Documento: <select [(ngModel)]="objBusquedaFacturas.tipoFactura" name="tipo_factura" class="form-control col-6">
                        <option value="" disabled selected>--Documento--</option>
                        <option *ngFor="let item of tiposDocumento" [value]="item.codigo">{{item.descripcion}}</option>
                    </select>
                </p>
            </div>
            <div class="form-group">
                <p>
                    Fecha Inicio: <input [(ngModel)]="objBusquedaFacturas.fechaInicio" type="date" name="fechaInicio" id="fechaInicio" class="form-control col-6">
                </p>
            </div>
            <div class="form-group">
                <p>
                    Fecha Final:&nbsp;&nbsp;<input [(ngModel)]="objBusquedaFacturas.fechaFin" type="date" name="fechaFin" id="fechaFin" class="form-control col-6">
                </p>
            </div>
            <div class="form-group">
                <p>
                    ID Interno:&nbsp;&nbsp;&nbsp;<input [(ngModel)]="objBusquedaFacturas.numeroInterno" type="text" name="numeroInterno" id="numeroInterno" class="form-control col-6" placeholder="Número Interno">
                </p>
            </div>
        </div>
        <div class="col-sm-12 col-md-6 col-lg-6">

            <div class="form-group">
                <p>
                    Cliente:&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<input [(ngModel)]="objBusquedaFacturas.nombreCliente" type="text" name="nombreCliente" id="nombreCliente" class="form-control col-6"
                        placeholder="Nombre cliente">
                </p>
            </div>
            <div class="form-group">
                <p>
                    ID documento:&nbsp;&nbsp;<input [(ngModel)]="objBusquedaFacturas.claveNumerica" type="text" name="numeroExterno" id="numeroExterno" class="form-control col-6" placeholder="Número de documento">
                </p>
            </div>
            <div class="form-group">
                <p>
                    Consecutivo:&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<input [(ngModel)]="objBusquedaFacturas.consecutivo" type="text" name="numeroExterno" id="numeroExterno" class="form-control col-6" placeholder="Consecutivo documento">
                </p>
            </div>
            <button type="button" class="btn btn-info mr-1" (click)="buscarFacturas(objBusquedaFacturas)"><i class="fa fa-search"></i></button>
            <button type="button" class="btn btn-info mr-1" (click)="descargarReporteExcel(arrayComprobantes)"><i class="fa fa-file-excel-o"></i></button>
            <button type="button" class="btn btn-info" (click)="cargarVistaFacturas(arrayComprobantes)"><i class="fa fa-eye"></i></button>
        </div>
    </div>

</div>

<div class="col-12">
    <hr>
    <table class="table table-responsive" id="tabla_detalles">
        <thead>
            <tr>
                <th>Fecha</th>
                <th>Hora</th>
                <th>Número Interno</th>
                <th>Consecutivo</th>
                <th>Número Documento</th>
                <th>Cédula Juridica</th>
                <th>Razón Social</th>
                <th>Subtotal</th>
                <th>Impuesto</th>
                <th>Total</th>
                <th *ngIf="filtroFactura != 'SI'">Estado</th>
                <th>Acciones</th>
            </tr>
        </thead>
        <tbody *ngFor="let factura of arrayComprobantes">
            <tr>
                <td>
                    {{factura.fecha | date: 'yyyy-MM-dd'}}
                </td>
                <td>
                    {{factura.hora}}
                </td>
                <td>
                    {{factura.numero_interno}}
                </td>
                <td>
                    {{factura.consecutivo}}
                </td>
                <td class="col-md-2">
                    {{factura.clavenumerica}}
                </td>
                <td>
                    {{factura.cedula_cliente}}
                </td>
                <td>
                    {{factura.cliente_nombre}}
                </td>
                <td>
                    {{factura.subtotal}}
                </td>
                <td>
                    {{factura.totalimpuesto}}
                </td>
                <td>
                    {{factura.totalcomprobante}}
                </td>
                <td *ngIf="filtroFactura != 'SI'">
                    {{factura.status_factura}}
                </td>
                <td *ngIf="filtroFactura == '03'"> <!-- NOtas de credito de anulacion de comprobante -->

                    <button type="button" class="btn btn-danger btn-xs mr-1" (click)="descargarPDF(factura.id,'01')">
                        <i class="fa fa-download"></i>
                    </button>
                    <button *ngIf="factura.status_factura == 'rechazado' || factura.status_factura == null" type="button" class="btn btn-default btn-xs" (click)="anularComprobante(factura.id)">
                        <i class="fa fa-mail-forward"></i>
                    </button>

                    <button *ngIf="factura.status_factura == 'aceptado'" type="button" class="btn btn-default btn-xs mr-1" data-toggle="modal" data-target="#ModalCorreos" (click)="cargarFactura(factura.id)">
                        <i class="fa fa-envelope-o"></i>
                    </button>
                    <button type="button" class="btn btn-default btn-xs" (click)="reporteFactura(factura.id)" data-toggle="modal" data-target="#ModalPreFactura">
                        <i class="fa fa-search-plus"></i>
                    </button>
                </td><!-- FIN DE NOTAS DE CREDITO DE ANULACION DE COMPROBANTE -->
                <!-- Facturas y Tiquetes -->
                <td *ngIf="filtroFactura != 'SI' && filtroFactura != '03'; else opcionesProforma">
                    <button type="button" class="btn btn-danger btn-xs mr-1" (click)="descargarPDF(factura.id,'01')">
                        <i class="fa fa-download"></i>
                    </button>
                    <button type="button" class="btn btn-default btn-xs" (click)="anularComprobante(factura.id)">
                        <i class="fa fa-ban"></i>
                    </button>
                    <button type="button" class="btn btn-default btn-xs mr-1" data-toggle="modal" data-target="#ModalCorreos" (click)="cargarFactura(factura.id)">
                        <i class="fa fa-envelope-o"></i>
                    </button>
                    <button type="button" class="btn btn-default btn-xs" (click)="reporteFactura(factura.id)" data-toggle="modal" data-target="#ModalPreFactura">
                        <i class="fa fa-search-plus"></i>
                    </button>
                </td>
                <!-- FIN Facturas y Tiquetes -->
                <!-- OPCIONES DE PROFORMA, aqui se ver y enviar la proforma-->
                <td *ngIf="filtroFactura == 'SI'">
                    <button type="button" class="btn btn-default btn-xs" (click)="reporteFactura(factura.id)" data-toggle="modal" data-target="#ModalPreFactura">
                        <i class="fa fa-search-plus"></i>
                    </button>
                </td>
                <!--FIN OPCIONES DE PROFORMA, aqui se ver y enviar la proforma-->
            </tr>
        </tbody>
    </table>
</div>


<!-- MODAL PARA DESCRICION TOTAL DE FACTURA JUNTO CON LAS ORDENES DE CADA FACTURA -->

<div class="modal fade" id="ModalPreFactura" tabindex="-1" role="dialog" aria-labelledby="ModalPreFactura" aria-hidden="true">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">{{objFacturaResultado.tipoFactura}}</h5>
            </div>
            <div class="modal-body">


                <p style="padding: 0%;">
                    <b>Factura: </b>{{this.objFacturaResultado.id}}
                    <p><b>clave:</b> {{this.objFacturaResultado.clave}}</p>
                    <p><b>Consecutivo:</b> {{this.objFacturaResultado.consecutivo}}</p>
                    <p><b>Fecha:</b> {{this.objFacturaResultado.fechaFactura | date: 'yyyy-MM-dd'}}
                        <p><b>Tipo Cambio:</b> {{this.objFacturaResultado.tipocambio}}
                        </p>



                        <div class="row">

                            <!-- tu tabla aquí siempre se verá al 100% en todas las resolcuiones-->
                            <table class="table table-responsive">
                                <thead>
                                    <tr>
                                        <th>#</th>
                                        <th>Descripcion</th>
                                        <th>Cantidad</th>
                                        <th>Descuento</th>
                                        <th>Impuesto</th>
                                        <th>Subtotal</th>
                                        <th>Total</th>
                                    </tr>
                                </thead>
                                <tbody *ngFor="let linea of arrayOrdenes" id="tbody_lineas">
                                    <tr>
                                        <td>
                                            {{linea.numerolineadetalle}}
                                        </td>
                                        <td>
                                            {{linea.descripcioDetalle}}
                                        </td>
                                        <td>
                                            {{linea.cantidad}}
                                            <td>
                                                {{linea.montodescuento}}
                                            </td>
                                            <td>
                                                {{linea.monto}}
                                            </td>
                                            <td>
                                                {{linea.subtotal}}
                                            </td>
                                            <td>
                                                {{linea.montoitotallinea}}
                                            </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                        <div class="row">
                            <div class="form-group col-md-3">
                                Medio Pago
                                <select [(ngModel)]="objFacturaResultado.medioPago" class="form-control">
                                <option *ngFor="let item of mediosPago" [ngValue]="item.id">{{item.medio}}</option>
                            </select>
                            </div>

                            <div class="form-group col-md-3">
                                Condicion Venta
                                <select [(ngModel)]="objFacturaResultado.condicionVenta" class="form-control">
                                    <option *ngFor="let item of condicionesVenta" [ngValue]="item.id">{{item.condicion}}</option>
                        </select>
                            </div>
                        </div>

                        <p style="padding: 0%;">
                            <h4>Totales del comprobante</h4>
                            <h6>Subtotal: {{this.objFacturaResultado.subtotal}}</h6>
                            <h6>Servicios Gravados: {{this.objFacturaResultado.totalservgravados}}</h6>
                            <h6>Servicios Exentos: {{this.objFacturaResultado.totalservexentos}}</h6>
                            <h6>Mercancías Gravadas: {{this.objFacturaResultado.totalmercanciasgravadas}}</h6>
                            <h6>Mercancías Exentas: {{this.objFacturaResultado.totalmercanciasexentas}}</h6>
                            <h6>Total Gravado: {{this.objFacturaResultado.totalgravado}}</h6>
                            <h6>Total Exento: {{this.objFacturaResultado.totalexento}}</h6>
                            <h6>Total Exonerado: {{this.objFacturaResultado.totalexonerado}}</h6>
                            <h6>Subtotal: {{this.objFacturaResultado.subtotal}}</h6>
                            <h6>Descuentos: {{this.objFacturaResultado.descuentoTotal}}</h6>
                            <h6>Impuestos: {{this.objFacturaResultado.totalimpuesto}}</h6>
                            <hr>
                            <p><b>Total Factura:</b> {{this.objFacturaResultado.totalcomprobante}}
                            </p>

            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Aceptar</button>
            </div>
        </div>
    </div>
</div>


<!--MODAL PARA ENVIAR CORREOS A 3 DESTINATARIOS -->

<div class="modal fade" id="ModalCorreos" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Enviar Correos</h5>
            </div>
            <div class="modal-body">
                <div class="form-group">
                    <input type="text" name="correo1" id="correo1" class="form-control" placeholder="Correo 1">
                </div>
                <div class="form-group">
                    <input type="text" name="correo2" id="correo2" class="form-control" placeholder="Correo 2">
                </div>
                <div class="form-group">
                    <input type="text" name="correo3" id="correo3" class="form-control" placeholder="Correo 3">
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary" (click)="enviarCorreo()">Enviar</button>
            </div>
        </div>
    </div>
</div>