<div class="col-12">
    <h1>Listado de Razones no venta</h1>
    <button type="button" class="btn btn-success" data-toggle="modal" data-target="#ModalNuevaRazon">Crear</button>
</div>
<br>
<div class="col-12">
    <form method="POST" id="form_buscar_descuento">
        <div class="form-row" id="buscador_descuento">
            <div class="form-group col-sm-12 col-md-8">
                <input [(ngModel)]="query" name="query" type="text" id="query" class="form-control" placeholder="Buscar razón" list="razones"
                    (ngModelChange)="buscarRazon(query)" (keyup)="recargarRazones(query)"
                >
                <datalist id="razones">
                    <option *ngFor="let razon of collection.data" [value]="razon.razon"></option>
                </datalist>
            </div>
        </div>
    </form>
</div>

<div class="col-12" *ngIf="tablaPequena == false">
    <table class="table table-responsive" id="tabla_detalles">
        <thead>
            <tr>
                <td>#</td>
                <th>Razón</th>
                <th>Auditoría</th>
                <th>Acciones</th>
            </tr>
        </thead>
        <tbody *ngFor="let razon of collection.data | paginate: config">
            <tr>
                <td>{{razon.id}}</td>
                <td>{{razon.razon}}</td>
                <td>{{razon.auditoria}}</td>
                <td>                
                    <button type="button" class="btn btn-default btn-xs mr-1" (click) ="obtenerRazonPorId(razon.id)"
                        data-toggle="modal" data-target="#ModalActualizarRazon"
                    > 
                        <i class="fa fa-pencil-square-o"></i>
                    </button>

                    <button type="button" class="btn btn-danger btn-xs" (click) ="eliminarRazon(razon.id)"> 
                    <i class="fa fa-times-circle"></i>
                    </button>
                </td>
            </tr>
        </tbody>
    </table>
    <pagination-controls (pageChange)="pageChanged($event)"></pagination-controls> 
</div>

<ng-container *ngIf="tablaPequena">
    <div class="table-responsive"  *ngFor="let razon of this.collection.data | paginate: config">
        <table class="table table-hover" id="tabla_detalles">
            <tbody >
                <tr>
                    <th>#</th>
                    <td>{{razon.id}}</td>
                </tr>
                <tr>
                    <th>Descripción</th>
                    <td>{{razon.razon}}</td>
                </tr>
                <tr>
                    <th>Auditoría</th>
                    <td>{{razon.auditoria}}</td>
                </tr>
                <tr>
                    <th>Acciones</th>
                    <td>
                        <button type="button" class="btn btn-default btn-xs mr-1" (click) ="obtenerRazonPorId(razon.id)"
                            data-toggle="modal" data-target="#ModalActualizarRazon"
                        > 
                            <i class="fa fa-pencil-square-o"></i>
                        </button>

                        <button type="button" class="btn btn-danger btn-xs" (click) ="eliminarRazon(razon.id)"> 
                        <i class="fa fa-times-circle"></i>
                        </button>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
    <pagination-controls (pageChange)="pageChanged($event)"></pagination-controls> 
</ng-container>


<div class="modal fade" id="ModalNuevaRazon" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Nueva Razón</h5>
            </div>
            <div class="modal-body">
                <form method="POST" id="formNuevaRazon">
                    <div class="form-group">
                        <label for="descripcion" class="col-form-label">Descripción:</label>
                        <input [(ngModel)]="objRazon.razon" name="razon" type="text" class="form-control" id="razon" (keyup)="validarExpresion(objRazon.razon)">
                    </div>                    
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" id="cancelar" data-dismiss="modal">Cancelar</button>
                    <button 
                        (click)="agregarRazon(objRazon)" 
                        type="button" class="btn btn-primary" 
                        id="nuevaRazon" 
                        [disabled]="disable" 
                    >Guardar</button>
                </div>
                </form>
            </div>
        </div>
    </div>
</div>

<!------------------------------------------------------------------------------------------>

<div class="modal fade" id="ModalActualizarRazon" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Actualizar Razón</h5>
            </div>
            <div class="modal-body">
                <form method="POST" id="formNuevaRazon">
                    <div class="form-group">
                        <label for="descripcion" class="col-form-label">Descripción:</label>
                        <input [(ngModel)]="objRazon.razon" name="razon" type="text" class="form-control" id="razon" (keyup)="validarExpresion(objRazon.razon)">
                    </div>                    
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" id="cancelar" data-dismiss="modal">Cancelar</button>
                    <button 
                        (click)="actualizarRazon(objRazon)" 
                        type="button" class="btn btn-primary" 
                        id="actualizarRazon" 
                        [disabled]="disable"
                    >Guardar</button>
                </div>
                </form>
            </div>
        </div>
    </div>
</div>


<!---

<td>{{descuento.id}}</td>
                <td>{{descuento.descripcion}}</td>
                <td>{{descuento.porcentaje}}</td>
                <td>{{descuento.estado_descuento}}</td>
                <td>{{descuento.usuario}}</td>
                <td>
                    <button type="button" class="btn btn-danger btn-xs mr-1" (click)="actualizarEstado(descuento)" >
                        <i class="fa fa-ban"></i>
                    </button>
                
                    <button type="button" class="btn btn-default btn-xs" (click) ="obtenerDescuentoPorId(descuento.id)"
                        data-toggle="modal" data-target="#ModalNuevoDescuento"
                    > 
                        <i class="fa fa-pencil-square-o"></i>
                    </button>
                </td>


-->