<h1>Producto</h1>
<div class="col-12">
    <form method="POST">
        <div class="form-row">
            <div class="form-group col-md-12">
                <label for="descripcion">Descripción</label>
                <input type="text" name="descripcion" id="descripcion" class="form-control">
            </div>
        </div>
        <div class="form-row">
            <div class="form-group col-md-6">
                <label for="descripcion">Precio unitario</label>
                <input type="number" name="porcentaje" id="porcentaje" class="form-control">
            </div>
            <div class="form-group col-md-6">
                <label for="descripcion">Costo Unitario</label>
                <input type="text" name="codigo" id="codigo" class="form-control">
            </div>
        </div>
        <div class="form-row">
            <div class="form-group col-md-6">
                <label for="descripcion">Unidad Medida</label>
                <select name="unidad_medida" id="unidad_medida" class="form-control">
                    <option disabled selected>--Seleccione--</option>
                    <option *ngFor="let unidad of listaUnidadesMedida" [ngValue]="unidad.simbolo">{{unidad.descripcion}}</option>
                </select>
            </div>
            <div class="form-group col-md-6">
                <label for="descripcion">Unidad Medida Comercial</label>
                <input type="text" name="unidad_medida_comercial" id="unidad_medida_comercial" class="form-control">
            </div>
        </div>
        <div class="form-row">
            <div class="form-group col-md-4">
                <label for="descripcion">Descuento</label>
                <select name="unidad_medida" id="unidad_medida" class="form-control">
                    <option disabled selected>--Seleccione--</option>
                </select>
            </div>
            <div class="form-group col-md-4">
                <label for="descripcion">Categoría</label>
                <select name="unidad_medida" id="unidad_medida" class="form-control">
                    <option disabled selected>--Seleccione--</option>
                    <option *ngFor="let categoria of listaCategorias" [ngValue]="categoria.id">{{categoria.descripcion}}</option>
                </select>
            </div>
            <div class="form-group col-md-4">
                <label for="descripcion">Impuesto</label>
                <select name="unidad_medida" id="unidad_medida" class="form-control">
                    <option disabled selected>--Seleccione--</option>
                    <option *ngFor="let impuesto of listaImpuestos" [ngValue]="impuesto.id">{{impuesto.descripcion}}</option>
                </select>
            </div>
        </div>
        <button type="submit" class="btn btn-primary">Guardar</button>
    </form>
</div>