<h1>Emisor</h1>
<!--<div class="wrap">
    <ul class="tabs">
        <li><a href="#tab1"><span class="fa fa-home"></span><span class="tab-text">Información Personal</span></a></li>
        <li><a href="#tab2"><span class="fa fa-group"></span><span class="tab-text">Información Jurídica</span></a></li>
        <li><a href="#tab3"><span class="fa fa-briefcase"></span><span class="tab-text">Configuración</span></a></li>

    </ul>

    <div class="secciones">
        <article id="tab1">


        </article>
        <article id="tab2">

        </article>
        <article id="tab3">

        </article>
    </div>
</div>-->

<div class="col-12">
    <form method="POST">

        <div class="form-row">
            <div class="form-group col-md-6">
                <label for="emisor_nombre">Nombre</label>
                <input type="text" class="form-control" id="emisor_nombre" placeholder="Nombre del Emisor">
            </div>
            <div class="form-group col-md-6">
                <label for="emisor_nombre">Nombre Comercial</label>
                <input type="text" class="form-control" id="emisor_nombrecomercial" placeholder="Nombre Comercial del Emisor">
            </div>
        </div>
        <div class="form-row">
            <div class="form-group col-md-6">
                <label for="emisor_nombre">Tipo de Identificación</label>
                <select id="emisor_tipo_identificacion" class="form-control">
                        <option>Seleccione</option>
                    </select>
            </div>
            <div class="form-group col-md-6">
                <label for="emisor_nombre">Cédula Emisor</label>
                <input type="text" class="form-control" id="emisor_cedula" placeholder="Cédula Emisor">
            </div>
        </div>
        <div class="form-row">
            <div class="form-group col-md-6">
                <label for="">Provincia</label>
                <select id="provincia" class="form-control">
                        <option>Seleccione</option>
                    </select>
            </div>
            <div class="form-group col-md-6">
                <label for="">Canton</label>
                <select id="canton" class="form-control">
                        <option>Seleccione</option>
                    </select>
            </div>
            <div class="form-group col-md-6">
                <label for="">Distrito</label>
                <select id="distrito" class="form-control">
                        <option>Seleccione</option>
                    </select>
            </div>
            <div class="form-group col-md-6">
                <label for="">Barrio</label>
                <select id="barrio" class="form-control">
                        <option>Seleccione</option>
                    </select>
            </div>
        </div>

        <div class="form-group">
            <label for="otras_senas">Otras Señas</label>
            <input type="text" class="form-control" id="otras_senas" placeholder="Otras señas emisor">
        </div>
        <div class="form-row">
            <div class="form-group col-md-6">
                <label for="tel_codigopais">Codigo País</label>
                <input type="text" class="form-control" id="tel_codigopais" placeholder="Código país">
            </div>
            <div class="form-group col-md-6">
                <label for="numtel">Número de Teléfono</label>
                <input type="text" class="form-control" id="numtelcomercial" placeholder="Número de telefono">
            </div>
        </div>
        <div class="form-row">
            <div class="form-group col-md-6">
                <label for="fax_codigopais">Código País</label>
                <input type="text" class="form-control" id="fax_codigopais" placeholder="Código país">
            </div>
            <div class="form-group col-md-6">
                <label for="fax_numtel">Número de Fax</label>
                <input type="text" class="form-control" id="fax_numtelcomercial" placeholder="Número de Fax">
            </div>
        </div>
        <div class="form-group">
            <label for="correo_emisor">Correo Electrónico</label>
            <input type="email" class="form-control" id="correo_emisor" placeholder="Correo Electrónico">
        </div>
        <div class=" form-row ">
            <div class="form-group col-md-6 ">
                <label for="casamatriz ">Casa Matriz</label>
                <input type="text " class="form-control " id="casamatriz " placeholder="Casa Matriz ">
            </div>
            <div class="form-group col-md-6 ">
                <label for="puntoventa">Punto Venta</label>
                <input type="text " class="form-control" id="puntoventa" placeholder="Punto Venta ">
            </div>
        </div>
        <div class="form-group ">
            <label for="inputAddress ">Codigo Actividad</label>
            <select id="codigo_actividad " class="form-control ">
                <option>Seleccione</option>
            </select>
        </div>
        <div class="form-row ">
            <div class="form-group col-md-6 ">
                <label for="tipo_codigo_servicio">Tipo Código de Servicio</label>
                <input type="text" class="form-control " id="tipo_codigo_servicio" placeholder="Tipo de código del servicio ">
            </div>
            <div class="form-group col-md-6 ">
                <label for="tipo_codigo_servicio">Código de Servicio</label>
                <input type="text " class="form-control" id="codigo_servicio" placeholder="Código del servicio ">
            </div>
        </div>
        <div class="form-row ">
            <div class="form-group col-md-4 ">
                <label for="client_id">Client ID</label>
                <input type="text " class="form-control " id="client_id" placeholder="Client ID ">
            </div>
            <div class="form-group col-md-4 ">
                <label for="API_TOKEN">API TOKEN</label>
                <input type="text " class="form-control " id="API_TOKEN" placeholder="API TOKEN ">
            </div>
            <div class="form-group col-md-4">
                <label for="API">API</label>
                <input type="text " class="form-control " id="API " placeholder="API ">
            </div>
        </div>
        <div class="form-row ">
            <div class="form-group col-md-6 ">
                <label for="numero_resolucion">Número de resolución</label>
                <input type="text " class="form-control " id="numero_resolucion" placeholder="Número resolución ">
            </div>
            <div class="form-group col-md-6 ">
                <label for="fecha_resolucion">Fecha resolución</label>
                <input type="text " class="form-control " id="fecha_resolucion" placeholder="Fecha resolución">
            </div>
        </div>
        <div class="form-row">
            <div class="form-group col-md-6">
                <label for="user_hacienda">Usuario Hacienda</label>
                <input type="text" class="form-control" id="user_hacienda" placeholder="Usuario Hacienda">
            </div>
            <div class="form-group col-md-6">
                <label for="password_hacienda">Contraseña</label>
                <input type="text" class="form-control" id="password_hacienda" placeholder="Password Hacienda">
            </div>
        </div>
        <div class="form-row">
            <div class="form-group col-md-6">
                <label for="">Archivo P12</label>
                <input type="file" class="form-control-file" id="file_p12">
            </div>
            <div class="form-group col-md-6">
                <label for="">Contraseña</label>
                <input type="text" class="form-control" id="contraseñaP12" placeholder="Contraseña archivo p12">
            </div>
        </div>
        <button type="submit" class="btn btn-primary">Guardar</button>
    </form>
</div>