<h1>Emisor</h1>
<!--<div class="wrap">
    <ul class="tabs">
        <li><a href="#tab1"><span class="fa fa-home"></span><span class="tab-text">Información Personal</span></a></li>
        <li><a href="#tab2"><span class="fa fa-group"></span><span class="tab-text">Información Jurídica</span></a></li>
        <li><a href="#tab3"><span class="fa fa-briefcase"></span><span class="tab-text">Configuración</span></a></li>

    </ul>

    <div class="secciones">
        <article id="tab1">


        </article>
        <article id="tab2">

        </article>
        <article id="tab3">

        </article>
    </div>
</div>-->

<div class="col-12">
    <form method="POST">

        <div class="form-row">
            <div class="form-group col-md-6">
                <label for="emisor_nombre">Nombre</label>
                <input [(ngModel)]="objEmisor.emisor_nombre" name="emisor_nombre" type="text" class="form-control" id="emisor_nombre" placeholder="Nombre del Emisor">
            </div>
            <div class="form-group col-md-6">
                <label for="emisor_nombre">Nombre Comercial</label>
                <input [(ngModel)]="objEmisor.emisor_nombrecomercial" name="nombrecomercial" type="text" class="form-control" id="emisor_nombrecomercial" placeholder="Nombre Comercial del Emisor">
            </div>
        </div>
        <div class="form-row">
            <div class="form-group col-md-6">
                <label for="emisor_nombre">Tipo de Identificación</label>
                <select id="emisor_tipo_identificacion" class="form-control" [(ngModel)]="objEmisor.tipoIdentificacion" name="tipoIdentificacion">
                    <option selected disabled>--Seleccione--</option>
                    <option *ngFor="let tipo of tipoIdentificacion" [ngValue]="tipo.codigo">{{tipo.descripcion}}</option>
                </select>
            </div>
            <div class="form-group col-md-6">
                <label for="emisor_nombre">Cédula Emisor</label>
                <input [(ngModel)]="objEmisor.emisor_cedula" name="emisor_cedula" type="text" class="form-control" id="emisor_cedula" placeholder="Cédula Emisor">
            </div>
        </div>
        <div class="form-row">
            <div class="form-group col-md-6">
                <label for="">Provincia</label>
                <select [(ngModel)]="objEmisor.provincia" name="provincia" class="form-control" (change)="obtenerCantones(objEmisor.provincia)">
                        <option selected disabled>--Seleccione--</option>
                        <option *ngFor="let provincia of listaProvincias" [ngValue]="provincia.provincia">{{provincia.nPro}}</option>
                </select>
            </div>
            <div class="form-group col-md-6">
                <label for="">Canton</label>
                <select [(ngModel)]="objEmisor.canton" name="canton=" class="form-control" (change)="obtenerDistritos(objEmisor.provincia,objEmisor.canton)">
                    <option selected disabled>--Seleccione--</option>
                    <option *ngFor="let canton of listaCantones" [ngValue]="canton.canton">{{canton.nCan}}</option>
                    </select>
            </div>
            <div class="form-group col-md-6">
                <label for="">Distrito</label>
                <select [(ngModel)]="objEmisor.distrito" name="distrito=" id="distrito" class="form-control" (change)="obtenerBarrios(objEmisor.provincia,objEmisor.canton,objEmisor.distrito)">
                        <option>Seleccione</option>
                        <option *ngFor="let distrito of listaDistritos" [ngValue]="distrito.distrito">{{distrito.nDis}}</option>
                    </select>
            </div>
            <div class="form-group col-md-6">
                <label for="">Barrio</label>
                <select [(ngModel)]="objEmisor.barrio" name="barrio" id="barrio" class="form-control">
                    <option>Seleccione</option>
                    <option *ngFor="let barrio of listaBarrios" [ngValue]="barrio.codigo">{{barrio.nHac}}</option>
                </select>
            </div>
        </div>

        <div class="form-group">
            <label for="otras_senas">Otras Señas</label>
            <input [(ngModel)]="objEmisor.otras_senas" name="otras_senas" type="text" class="form-control" id="otras_senas" placeholder="Otras señas emisor">
        </div>
        <div class="form-row">
            <div class="form-group col-md-6">
                <label for="tel_codigopais">Codigo País</label>
                <input [(ngModel)]="objEmisor.tel_codigo_pais" name="tel_codigo_pais" type="text" class="form-control" id="tel_codigopais" placeholder="Código país">
            </div>
            <div class="form-group col-md-6">
                <label for="numtel">Número de Teléfono</label>
                <input [(ngModel)]="objEmisor.num_telefono" name="num_telefono" type="text" class="form-control" id="numtelcomercial" placeholder="Número de telefono">
            </div>
        </div>
        <div class="form-row">
            <div class="form-group col-md-6">
                <label for="fax_codigopais">Código País</label>
                <input [(ngModel)]="objEmisor.fax_codigo_pais" name="fax_codigo_pais" type="text" class="form-control" id="fax_codigopais" placeholder="Código país">
            </div>
            <div class="form-group col-md-6">
                <label for="fax_numtel">Número de Fax</label>
                <input [(ngModel)]="objEmisor.fax_num_telefono" name="fax_num_telefono" type="text" class="form-control" id="fax_numtelcomercial" placeholder="Número de Fax">
            </div>
        </div>
        <div class="form-group">
            <label for="correo_emisor">Correo Electrónico</label>
            <input [(ngModel)]="objEmisor.correo" name="correo" type="email" class="form-control" id="correo_emisor" placeholder="Correo Electrónico">
        </div>
        <div class=" form-row ">
            <div class="form-group col-md-6 ">
                <label for="casamatriz">Casa Matriz</label>
                <input [(ngModel)]="objEmisor.casamatriz" name="casamatriz" type="text" class="form-control " id="casamatriz " placeholder="Casa Matriz ">
            </div>
            <div class="form-group col-md-6 ">
                <label for="puntoventa">Punto Venta</label>
                <input [(ngModel)]="objEmisor.puntoventa" name="puntoventa" type="text " class="form-control" id="puntoventa" placeholder="Punto Venta ">
            </div>
        </div>
        <div class="form-group ">
            <label for="codigo_actividad">Codigo Actividad</label>
            <select [(ngModel)]="objEmisor.codigo_servicio" name="codigo_servicio" id="codigo_actividad" class="form-control">
                <option>Seleccione</option>
                <option *ngFor="let servicio of tipoServicio" [ngValue]="servicio.codigo">{{servicio.tipo_codigo}}</option>
            </select>
        </div>
        <div class="form-row ">
            <div class="form-group col-md-4 ">
                <label for="client_id">Client ID</label>
                <input [(ngModel)]="objEmisor.client_id" name="client_id" type="text " class="form-control " id="client_id" placeholder="Client ID ">
            </div>
            <div class="form-group col-md-4 ">
                <label for="API_TOKEN">API TOKEN</label>
                <input [(ngModel)]="objEmisor.API_TOKEN" name="API_TOKEN" type="text" class="form-control " id="API_TOKEN" placeholder="API TOKEN ">
            </div>
            <div class="form-group col-md-4">
                <label for="API">API</label>
                <input [(ngModel)]="objEmisor.API" name="API" type="text" class="form-control" id="API" placeholder="API">
            </div>
        </div>
        <div class="form-row ">
            <div class="form-group col-md-6 ">
                <label for="numero_resolucion">Número de resolución</label>
                <input [(ngModel)]="objEmisor.numero_resolucion" name="numero_resolucion" type="text" class="form-control" id="numero_resolucion" placeholder="Número resolución">
            </div>
            <div class="form-group col-md-6 ">
                <label for="fecha_resolucion">Fecha resolución</label>
                <input [(ngModel)]="objEmisor.fecha_resolucion" name="fecha_resolucion" type="text " class="form-control " id="fecha_resolucion" placeholder="Fecha resolución">
            </div>
        </div>
        <div class="form-row">
            <div class="form-group col-md-6">
                <label for="user_hacienda">Usuario Hacienda</label>
                <input [(ngModel)]="objEmisor.user_hacienda" name="user_hacienda" type="text" class="form-control" id="user_hacienda" placeholder="Usuario Hacienda">
            </div>
            <div class="form-group col-md-6">
                <label for="password_hacienda">Contraseña</label>
                <input [(ngModel)]="objEmisor.password_hacienda" name="password_hacienda" type="password" class="form-control" id="password_hacienda" placeholder="Password Hacienda">
            </div>
        </div>
        <div class="form-row">
            <div class="form-group col-md-6">
                <label for="">Archivo P12</label>
                <input [(ngModel)]="objEmisor.file_p12" name="file_p12" type="file" class="form-control-file" id="file_p12">
            </div>
            <div class="form-group col-md-6">
                <label for="">Contraseña</label>
                <input [(ngModel)]="objEmisor.contrasenaP12" name="contrasenaP12" type="password" class="form-control" id="contrasenaP12" placeholder="Contraseña archivo p12">
            </div>
        </div>
        <button type="submit" class="btn btn-primary" (click)="nuevoEmisor($event, objEmisor)">Guardar</button>
    </form>
</div>